.container{
	display: flex;
	flex-wrap:wrap;
	flex-direction: row;
}
.div1{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	width: 100%;
	height: 7vh;
	background-color: #000000;
}
.logo{
	width: 4.3%;
	height: 7vh;
}
#barra{
	margin-left: 5%;
	width: 100%;
	height: 7vh;
}
#icons{
	margin-left: auto;
	height: 7vh;
}
.div2{
	width: 100%;
	height: 32vh;
	background-color: #107A07;
}
.banner{
	width: 100%;
	height: 127vh;
	margin-right: 2%;
}
.div3{
	display: flex;
	flex-wrap:wrap;
	width: 100%;
	height: auto;
}
.left{
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	height: 94vh;
}
.not{
	width:74%;
	height: 26vh;
	margin-left: 12%;
	margin-top: 3.5vh;
}
.selecoes{
	width:100%;
	height: 30vh;
}
.right{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 30%;
	height: 94vh;
	background-color: #000000;
}
.img{
	margin-left: 2.5%;
	margin-top: 2vh;
	width: 95%;
	height: 35vh;
}
.title{
	font-family: "Candara",Sans-serif;
	color: #FFFFFF;
	margin-left: 3%;
	font-size: 25px;
}
.texto{
	margin-left: 9.2%;
	margin-top: 5vh;
	width: 80%;
	height: 10vh;
}
.textos{
	font-family: "Candara",Sans-serif;
	color: #FFFFFF;
	margin-left: 3%;
	font-size: 21px;
}
.texto1{
	margin-left: 2.5%;
	margin-top: 5vh;
	width: 95%;
	height: 11.5vh;
}
.janelas{
	font-family: "Candara",Sans-serif;
	color: #F3EB1D;
	margin-left: 2.2%;
	margin-top: 3.2vh;
	font-size: 17.3px;
}
.part1{
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 94vh;
	background-color: #000000;
}
.part2{
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 94vh;
	background-color: #000000;
}
.fig{
	width: 30%;
	height: 12vh;
}
.gols{
	width: 100%;
	height: 12vh;
}
.msg{
	height:12vh;
	width: 73%;
	margin-left: 4%;
}
.janela{
	display: flex;
	flex-direction: row;
	margin-left: 2.5%;
	margin-top: 6vh;
	width: 95%;
	height: 12vh;
}
@media(max-width: 700px){
	.container{
		width: 100%;
		flex-direction: column;
	}
	#icons{
		text-align: right;
	}
	#barra{
		margin-top: 0.55vh;
		margin-left: 5%;
		width: 70%;
		height: 6vh;
	}
	.logo{
		width: 7%;
	}
	.banner{
		width: 100%;
		height: 101vh;
		margin-right: 2%;
	}
	.div2{
		height: 25.4vh;
	}
	.div3{
		flex-direction: column;
	}
	.left{
		flex-direction: column;
		width: 100%;
		height: auto;
	}
	.not{
		width:45%;
		height: 30vh;
		margin-left: 3%;
		margin-top: 6vh;
	}
	.right{
		display: none;
	}
	.texto{
		width: 45%;
		height: 15vh;
		margin-left: 3%;
		margin-top: 9vh;
		
	}
	.textos{
		font-size: 28px;
	}
	.part1{
		flex-wrap: wrap;
		flex-direction: row;
		width: 100%;
		height: 85vh;
	}
	.part2{
		flex-wrap: wrap;
		flex-direction: row;
		width: 100%;
		height: 85vh;
	}
}